<div class="container">
  <h2>post_list</h2>

  <div class="posts_new">
    <%= link_to 'new', new_post_path %>
  </div>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        post-head
      </div>
      <div class="post-body">
        <% if post.images.attached? %>
          <% post.images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        <% end %>
      </div>
      <div class="post-footer">
        <%= post.content %>
      </div>
    </div>
  <% end %>

</div>
