<div class="container">
  <h2>post_show</h2>

  <div class="posts_delete">
    <%= link_to 'delete', post_path(@post), method: :delete %>
  </div>

  <div class="post">
    <div class="post_head">
    </div>

    <div class="post_body">
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      <% end %>
    </div>

    <div class="post_footer">
      <%= @post.content %>
    </div>
  </div>


  <div class="comments">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
      <div class="comments_comment">
        <%= comment.comment %>
      </div>
    <% end %>
  </div>

</div>