@import 'variables';

.post {
  margin-top: 16px;
  
  &_head {
    img {
      width: 32px;
    }
  }

  &_body {
    img {
      max-width: $container-width - 32;
    }
  }
  &_action {
    img {
      width: 16px;
    }
  }
}