<div class="container">
  <h2>account_show</h2>
  <%= image_tag @user.avatar_image %>
  <%= @user.name %>
  <% if current_user&.has_followed?(@user) %>
    <%= link_to 'Unfollow', account_unfollows_path(@user), method: 'post' %>
  <% else %>
    <%= link_to 'Follow', account_follows_path(@user), method: 'post' %>
  <% end %>

  <div class="info">
    <div class="info_data">
    </div>
    <div class="info_label">
      <div class="info_label_posts">
        Posts
      </div>
      <div class="info_label_followers">
        Followers
      </div>
      <div class="info_label_following">
        Following
      </div>
    </div>
  </div>
</div>